:root {
  --darkBlue: #366060;
  --lightBlue: #85eded;
  --primaryBlue: #6fc7c7;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Vazir", sans-serif;
  font-size: 1.125rem;
  font-weight: 300;
  line-height: 1.3;
}
